-- Check if exam_access table exists, create if not
DO \$\$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'exam_access') THEN
        CREATE TABLE public.exam_access (
            id BIGSERIAL PRIMARY KEY,
            exam_id TEXT NOT NULL,
            student_id TEXT NOT NULL,
            has_access BOOLEAN NOT NULL DEFAULT false,
            created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
            updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
            UNIQUE(student_id, exam_id)
        );
        RAISE NOTICE 'Created exam_access table';
    ELSE
        RAISE NOTICE 'exam_access table already exists';
    END IF;
END
\$\$; 
