-- Comprehensive setup for exam_access table RLS policies

-- First, ensure the table exists
DO \$\$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'exam_access') THEN
        CREATE TABLE public.exam_access (
            id BIGSERIAL PRIMARY KEY,
            exam_id TEXT NOT NULL,
            student_id TEXT NOT NULL,
            has_access BOOLEAN NOT NULL DEFAULT false,
            created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
            updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
            UNIQUE(student_id, exam_id)
        );
        RAISE NOTICE 'Created exam_access table';
    ELSE
        RAISE NOTICE 'exam_access table already exists';
    END IF;
END
\$\$;

-- Enable RLS
ALTER TABLE public.exam_access ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they exist (to avoid conflicts)
DROP POLICY IF EXISTS \
exam_access_select_policy\ ON public.exam_access;
DROP POLICY IF EXISTS \exam_access_insert_policy\ ON public.exam_access;
DROP POLICY IF EXISTS \exam_access_update_policy\ ON public.exam_access;
DROP POLICY IF EXISTS \exam_access_delete_policy\ ON public.exam_access;

-- Create comprehensive policies that allow all authenticated operations
CREATE POLICY \exam_access_select_policy\ ON public.exam_access
FOR SELECT USING (true);  -- Allow all authenticated users to read

CREATE POLICY \exam_access_insert_policy\ ON public.exam_access
FOR INSERT WITH CHECK (true);  -- Allow all authenticated users to insert

CREATE POLICY \exam_access_update_policy\ ON public.exam_access
FOR UPDATE USING (true);  -- Allow all authenticated users to update

CREATE POLICY \exam_access_delete_policy\ ON public.exam_access
FOR DELETE USING (true);  -- Allow all authenticated users to delete

-- Alternative: More restrictive policies (uncomment if you want stricter control)
/*
CREATE POLICY \exam_access_select_policy\ ON public.exam_access
FOR SELECT USING (auth.role() = 'authenticated');

CREATE POLICY \exam_access_insert_policy\ ON public.exam_access
FOR INSERT WITH CHECK (auth.role() = 'authenticated');

CREATE POLICY \exam_access_update_policy\ ON public.exam_access
FOR UPDATE USING (auth.role() = 'authenticated');

CREATE POLICY \exam_access_delete_policy\ ON public.exam_access
FOR DELETE USING (auth.role() = 'authenticated');
*/
