-- Enable RLS and create policies for exam_access table
ALTER TABLE public.exam_access ENABLE ROW LEVEL SECURITY;

-- Policy to allow authenticated users to select exam access records
CREATE POLICY \
exam_access_select\ ON public.exam_access
FOR SELECT USING (auth.role() = 'authenticated');

-- Policy to allow authenticated users to insert exam access records
CREATE POLICY \exam_access_insert\ ON public.exam_access
FOR INSERT WITH CHECK (auth.role() = 'authenticated');

-- Policy to allow authenticated users to update exam access records
CREATE POLICY \exam_access_update\ ON public.exam_access
FOR UPDATE USING (auth.role() = 'authenticated');

-- Policy to allow authenticated users to delete exam access records
CREATE POLICY \exam_access_delete\ ON public.exam_access
FOR DELETE USING (auth.role() = 'authenticated');
